@model IQueryable<VideoInfo>
<h1>    Registered user</h1>

<div>
    <h1>Videos index</h1>
    <div class="container">
        

        @if (Model.Any())
        {
            @foreach (VideoInfo entity in Model)
            {
                <div>
                    <p>@entity.Title</p>
                    <p>@entity.Description</p>
                    <p>@entity.UserName</p>
                </div>
            }
        }

    </div>
</div>