<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetategPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <header>
        @await Html.PartialAsync("HeaderPartial")
    </header>       
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            @await Html.PartialAsync("FooterPartial")
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
