
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">VideosAccessPoint</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @{ if (User.Identity.IsAuthenticated)
                {
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                        <input type="submit" value="Вийти" />
                    </form>}
            }
        </div>
    </nav>


